# 1. Postgres server (service, stateful set, secret)

---

apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  clusterIP: None # Headless service for StatefulSet
  selector:
    app: postgres
  ports:
    - port: 5432
      name: postgres

---

apiVersion: v1
kind: Service
metadata:
  name: postgres-access # Psql access service 
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
  selector:
    app: postgres


---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
spec:
  selector:
    matchLabels:
      app: postgres
  serviceName: postgres
  replicas: 1
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:14
          ports:
            - containerPort: 5432
          envFrom:
           - secretRef:
              name: psql-secret
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
  volumeClaimTemplates:
    - metadata:
        name: postgres-data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 5Gi

---

apiVersion: v1
kind: Secret
metadata:
  name: psql-secret
type: Opaque
stringData:
  POSTGRES_DB: health_database
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres-pass

---


# 2. Health storage server

apiVersion: v1
kind: Service
metadata:
  name: health-storage
spec:
  type: ClusterIP
  selector:
    app: health-storage
  ports:
    - name: grpc
      port: 5005
      targetPort: 5005
      protocol: TCP

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: health-storage
spec:
  replicas: 1
  selector:
    matchLabels:
      app: health-storage
  template:
    metadata:
      labels:
        app: health-storage
    spec:
      containers:
        - name: health-storage
          image: eugenebalykov/health-storage:latest
          ports:
            - containerPort: 5005
          envFrom:
            - secretRef:
                name: user-serive-secret

---

apiVersion: v1
kind: Secret
metadata:
  name: user-serive-secret
type: Opaque
stringData:
  DATABASE_URL: postgres://postgres:postgres-pass@postgres-access:5432/health_database?sslmode=disable
