apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: health-storage
          image: eugenebalykov/gateway:latest
          ports:
            - containerPort: 8080
          env:
            - name: USER_SERVICE_HOST
              value: "health-storage.default.svc.cluster.local:5005"

---

apiVersion: v1
kind: Service
metadata:
  name: gateway
  labels:
    app: gateway
spec:
  type: ClusterIP
  selector:
    app: gateway
  ports:
    - port: 8080       # service port
      targetPort: 8080 # container port
      protocol: TCP